@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Open+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /* background-image: url("/static/textures/8k_stars_milky_way.jpg"); */
}

.webgl
{
    top: 0;
    left: 0;
    outline: none;
}

.heading-container{
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    background: rgba(48, 48, 48, 0.205);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3.5px );
    top: 30vh;
    right: 20vw;
}

@keyframes fade-out {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}

.heading-name{
    font-family: 'Exo 2', sans-serif;
    color: white;
    margin: 15px;
}

.heading-text{
    color: white;

}

.view-btn{
    color: white;
    height: 50px;
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(48, 48, 48, 0.205);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3.5px );
    font-size: 1em;
    font-weight: 600;
}

.backBtn{
    position: absolute;
    bottom: 70px;
    right: 70px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: rgba(48, 48, 48, 0.418);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.26);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3.5px );
    display: none;
    animation: fade-in 0.4s ease;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}

.backBtn:hover{
    background: rgba(48, 48, 48, 0.521);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.iconBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.loading-bar-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 100;
}

.loading-bar{
    position: absolute;
    top: 50%;
    width: 0;
    height: 3px;
    background-color: white;
    z-index: 101;
}

.loading-heading{
    position: absolute;
    top: 53%;
    right: 0;
    left: 0;
    z-index: 101;
    color: white;
}

.earth-lottie{
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    z-index: 101;
    margin: auto;
}


@media (max-width: 800px) {
    .heading-container{
        /* display: none; */
    }
}